.About {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  margin-left: 10vw;
  margin-top: 20px;
  padding-top: 40px;
  }
  
  .About  h1 {
    font-size: 36px;
  }
  
  .About p {
   font-family: 'Open Sans', sans-serif;
   font-size: 22px;
   width: 70%;
  }
  
  #profile{
    float: right;
    margin-left: 40px;
  }
