.Philosophy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  margin-left: 200px;
  margin-top: 20px;
  padding-top: 40px;
  }

  .Philosophy p{
    width: 60%;
  }
  